############### Repo Specific #######################

################### MATLAB ##########################

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace


############## EXTRA ###################

*.pdf
*.mat
!tbx/**/*.mat
!SJD_wing/groundTests/testData/*.mat
!SJD_wing/run_ONERA.mat
!SJD_wing/run_ext.mat
!SJD_wing/particleswarm_lse_optim.mat
!SJD_wing/particleswarm_lse_optim_freq_alpha_0.mat
!SJD_wing/particleswarm_mod_lse_optim.mat
!SJD_wing/particleswarm_mod_lse_optim_G1_only.mat
!SJD_wing/particleswarm_mod_lse_optim_G2_only.mat
!SJD_wing/particleswarm_mod_lse_optim_no_beta_x_60.mat
*.fig
!SJD_wing/freq_matching_freq_alpha_0_calibration.fig
!SJD_wing/freq_matching_full_calibration.fig
*.png
*.jpg
*.gif



examples/*/