############### Repo Specific #######################

################### MATLAB ##########################

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace


############## EXTRA ###################

*.pdf
*.mat
!tbx/**/*.mat
!SJD_wing/groundTests/testData/*.mat
!SJD_wing/first_hopf_aoa_1_2_classification_and_local_models.mat
!SJD_wing/rbm_first_hopf_aoa_1_2_classification_and_local_models.mat
!SJD_wing/tip_deflection_first_hopf_aoa_1_2_classification_and_local_models.mat
*.fig
!SJD_wing/first_hopf_aoa_1_2_training_plot.fig
#*.png
*.jpg
*.gif



examples/*/